  </div>
  <div class = "jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">this is a w.i.p. Visualization tool.</p>
  <a href="/geometry/index" class="btn btn-dark btn-lg">List of Models</a>
  <a href="/about" class="btn btn-dark btn-lg">About</a>
  </div>


{{#each geometry}}
<div class="card card-body">
  <div class="alert alert-danger">{{num}}</div>
  <p>{{field0}}</p>
  <a class="btn btn-dark mb-2" href="/geometry/show/{{id}}"> Show</a>
  </div>
  {{else}}
{{/each}} 



<script>
  var k=0;
  {{#each geometry}}
    k+=1;
  {{/each}}
  console.log('there are '+k+'geometries');
  //document.getElementById("ini").innerHTML='Please select from one of '+k+' models';
</script>

